/* .grid-item { 
    width: 30vw; 
} */

.pac-item {
    height: 40px;
    font-size: 20px;
}

.pac-item-query {
    font-size: 20px;

}

#autocomplete {
    width: 60vw;
    height: 40px;
    font-size: 20px;
}

.add-content-description-input {
    width: 60vw;
    min-height: 150px;
    font-size: 20px;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    /* margin-left: -5px; gutter size offset */
    width: auto;
    align-self: center;
}
.my-masonry-grid_column {
/* margin-left: 5px; gutter size */
background-clip: padding-box;
}

.body-photos {
    margin: 20px 0 0px 0;
}

.image-div {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 20vw; */
}

.image-and-input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 20px 0;
}

.new-header-input {
    width: 60vw;
    height: 40px;
    font-size: 20px;
    margin: 40px 0 10px 0;
}

.image-caption-input {
    height: 40px;
    font-size: 20px;
    width: 60vw;
}

.upload-gallery-image {
    /* max-width: 20%;
    height: auto;
    margin: 20px 5px 0 5px; */
    height: 200px;
    line-height: 150px;
    background: #EC985A;
    color: white;
    margin: 0 1rem 1rem 0;
    text-align: center;
    font-family: system-ui;
    font-weight: 900;
    font-size: 2rem;
    flex: 1 0 auto;
}



.progress-ring__circle {
    transition: .8s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.upload-button-label {
    margin: 0px 0 10px 0;
    border: 1px solid black;
    padding: 5px;
    color: black;
    cursor: pointer;
    font-size: 18px;
}

.image-list {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
    grid-template-columns: repeat(4, auto);
    grid-gap: 0 5px;
    grid-auto-rows: 1px;
    justify-items: center;

}

.masonry-image {
    width: 23vw;
}

@media only screen and (max-width: 900px) {
    .image-list{
        grid-template-columns: repeat(3, auto);
    }
    .masonry-image {
        width: 30vw;
    }
}

@media only screen and (max-width: 500px) {
    .image-list{
        grid-template-columns: repeat(2, auto);
    }
    .masonry-image {
        width: 48vw;
    }
}

.edit-body-text {
    font-size: 20px;
    height: 300px;
    width: 60vw;
}

.edit-body-image {
    height: 200px;
    line-height: 150px;
    background: #EC985A;
    color: white;
    margin: 0 1rem 1rem 0;
    text-align: center;
    font-family: system-ui;
    font-weight: 900;
    font-size: 2rem;
    flex: 1 0 auto;
}

.edit-photo-container {
    display: flex;
    flex-wrap: wrap;
}