/* .grid-item { 
    width: 30vw; 
} */

.pac-item {
    height: 40px;
    font-size: 20px;
}

.pac-item-query {
    font-size: 20px;

}

#autocomplete {
    width: 60vw;
    height: 40px;
    font-size: 20px;
}

.add-content-description-input {
    width: 60vw;
    height: 150px;
    font-size: 20px;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -5px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
margin-left: 5px; /* gutter size */
background-clip: padding-box;
}

.body-photos {
    margin: 20px 0 0px 0;
}

.image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.upload-gallery-image {
    max-width: 20%;
    height: auto;
    margin: 20px 5px 0 5px;
}

.progress-ring__circle {
    transition: .8s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}